#f1_player {
  display: table;
  /* width: 1000px; */
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 3em;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.f1_player__button {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  width: 3em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center
}
.f1_player__button_disable {
  pointer-events: none;
  color: #aaa;
}
#f1_player__seek {
  display: table-cell;
  /*width: calc(100% - 3em - 6em - 4em - 1em);*/
  height: 2em;
  position: relative;
  cursor: pointer;
}
#f1_player__seek_bar {
  width: calc(100% - 0.7em);
  height: 0.1em;
  position: absolute;
  top: calc(50% - 0.05em);
  left: 0.35em;
  background-color: #777;
}
#f1_player__seek_circle {
  width: 0.7em;
  height: 0.7em;
  background-color: #444;
  border-radius: 0.35em;
  position: absolute;
  top: calc(50% - 0.35em);
  transform: translate(-0.35em, 0);
}
#f1_player__time {
  width: 7em;
  color: #444;
}
#figureOneContainer {
  border: 1px solid #ddd;
}
#f1_recorder {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  display: table;
  table-layout: fixed;
}
.f1_recorder__button {
  width: 8em;
}

.comment_out_to_show_recorder {
  /* display: none; */
}

#f1_player__play_pause {
  background-position: center;
  background-repeat: no-repeat;
}
.f1_paused {
  background-image: url('./play.svg');
}
.f1_playing {
  background-image: url('./pause.svg');
}

@media only screen and (max-width: 1000px) and (-webkit-device-pixel-ratio : 3) {
  .f1_player__button {
      font-size: 2em;
  }
  #f1_player__time {
      width: 7em;
  }
