body {
  /* max-width: 800px; */
  background: white;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-weight: 100;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

li {
  padding-bottom: 0.4em;
}
/* 
#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 20px);
  max-width: 100%;
}

@media (min-aspect-ratio: 1/1) {
  #wrapper {
    width: calc((100vh - 20px)/0.75);
  }
}

#figureOneContainer {
  width: 100%;
  padding-bottom: 75%;
  background-color: white;
} */

.title-text {
  text-align: center;
  font-weight: 100;
  padding-top: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: #333;
  font-size: 3em;
}

h2 {
  padding: 10px;
  text-align: center;
  color: #333;
}

.example-title {
  color: #333;
  text-align: center;
  padding: 10px;
  font-weight: 100;
  padding-top: 25px;
  font-size: 1.6em;
  margin-bottom: 0.2em;
}

.example-description {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1em;
  color: grey;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sub-text{
  font-size: 1em;
  color: grey;
}

.text {
  color: grey;
}

.links {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 30px;
  /* border-bottom: 1px solid lightgrey; */
}

.title-link {
  display: inline-block;
  padding: 15px;
}

@media (max-width: 600px) {
  .title-link {
    display: block;
  }
}

.link {
  color: blue;
}

.see-the-code {
  color: #333;
  text-align: center;
}

.other-examples {
  color: #333;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.examples {
  text-align: center;
  /* margin-bottom: 30px; */
  /* margin-top: 30px; */
  padding-top: 20px;
  /* padding-bottom: 20px; */
  /* border-bottom: 1px solid lightgrey; */
}

.footer {
  padding: 20px;
  text-align: center;
  color: #333;
  /* margin-bottom: 30px; */
  /* margin-top: 30px; */
}

.example {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header-bar {
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid lightgrey;
}

.footer-bar {
  border-top: 1px solid lightgrey;
  background-color: #efefef;
  padding-left: 20px;
  padding-right: 20px;
}
