body {
  max-width: 1000px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

li {
  padding-bottom: 0.4em;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 20px);
  max-width: 100%;
}

@media (min-aspect-ratio: 1/1) {
  #wrapper {
    width: calc((100vh - 20px)/0.75);
  }
}

#figureOneContainer {
  width: 100%;
  padding-bottom: 75%;
}

.title-text {
  text-align: center;
  font-weight: 100;
  margin-top: 1.5em;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: #5a5a5a;
  font-size: 3em;
}

h2 {
  padding: 10px;
  text-align: center;
  color: grey;
}

.example-title {
  color: #5a5a5a;
  text-align: center;
  padding: 10px;
  font-weight: 100;
  padding-top: 25px;
  font-size: 1.6em;
}

.example-description {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1em;
  color: grey;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sub-text{
  font-size: 1em;
  color: grey;
}

.text {
  color: grey;
}

.links {
  text-align: center;
  padding-bottom: 2em;
  margin-top: 30px;
  border-bottom: 1px solid lightgrey;
}

.title-link {
  display: inline-block;
  padding: 15px;
}

.link {
  color: blue;
}

.see-the-code {
  color: grey;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 3em;
}

.other-examples {
  color: grey;
  padding-bottom: 10px;
}

.examples {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.footer {
  padding: 20px;
  text-align: center;
  color: grey;
  margin-bottom: 30px;
  margin-top: 30px;
}